body {font-family: 'Josefin Sans', sans-serif;color: #2C2C2C;background-color: #1a212c;}
.oneproject{position: relative;overflow: hidden;}
.textdata{cursor: pointer; background-color: #525252a9; position: absolute;top: 8%;opacity: 0;transition: all 1s;}
.oneproject:hover .textdata{opacity: 1;transform: translateY(-8%)}

