section {
  min-height: 100vh;
}

.meal_discreption {
  color: gray;
}
.one_meal {
  cursor: pointer;
  transition: 0.5s;
  color: rgb(87, 59, 23);
}

.one_meal:hover {
  color: rgb(202, 150, 83);
  overflow: hidden;
}
button {
  width: 6.2rem;
}
